.ratingWrapper {
  padding-left: 20px;
}

.ratingWrapper {
  li {
    margin-bottom: 10px;
  }

  li:last-child {
    margin-bottom: 0px;
  }

  span {
    text-transform: capitalize;
    font-size: 24px;
  }
}